body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product h2 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    font-size: 14px;
    margin-top: 8px;
    color: #666;
}

.product .price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}